@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <button id="button">Get Date</button>
    <p id="date"></p>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#button").click(getDate);
        });

        function getDate() {
            var url = "/api/date"

            // Создание запроса по адресу "/api/date" и вывод ответа в элемент c id="date"
            $.get(url, function (data) {
                $("#date").text(data);
            });

            //Ajax variant
            //
            //$.ajax({
            //    url: url,
            //    success: function (data) {
            //        $("#date").text($(data).find("string").text());
            //    },
            //    dataType: "xml"
            //});
        }

    </script>
</body>
</html>
